/* reset the css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.main{

    border: 2px solid black;
    width: 70%;
    height: 650px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(yellow,red);
}

/* start  */

#mx{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 4px solid red;
    border-radius: 50%;
    height: 140px;
    width: 150px;
    align-items: center;
    background-color:moccasin;
    font-weight: bold;
    font-size: 18px;
    
}

#start:hover{
    background-color: yellowgreen;
    cursor: pointer;
}

/* quix  */
#quiz{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}


#question{
    text-align: center;
    letter-spacing: 1px;
    padding: 6px 10px;
    font-weight: 500;
    font-size: 32px;

}

#to{
    display: flex;
    margin-top: 90px;
    justify-content: center;
    width: 100%;
}
#timer{
    width: 40%;
    padding: 10px;
    font-weight: bolder;
    font-size: 46px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
#option{
width: 40%;
padding: 10px;
}
.choice{
    width: 100%;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    margin: 20px 2px;
    cursor: pointer;
    font-size: 25px;
    padding: 20px;
}

.choice:hover{
    background-color: greenyellow;
}

#progess{
    display: flex;
    width: 100%;
    margin-right: 50px;
    margin-top: 10px;
}
.cir{
    border: 2px solid black;
    margin: 2px 9px;
    text-align: center;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}



#scorecontainer{
    display:none;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 150px;
    
    font-size: 35px;
    font-weight: 800;
}

button{

    font-size: 25px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    
}
button:hover{
    background-color: greenyellow;
}



/* media qureissss */

@media(max-width:1000px){


    #to{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 5px;
    }

    #option{
        width: 98%;
    }
    #timer{
        font-size: 30px;
    }
    .main{
        height: 700px;
    }

}

@media(max-width:540px){

    .main{
        width: 85%;
    }
    
}

@media(max-width:430px){

    .main{
        width: 98%;
        height: 580px;
        font-size: 18px;
    }
    .choice{
        font-size: 15px;
        padding: 5px;
    }
    #timer{
        font-size: 18px;
    }
    
}

